<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titel</title>
    <link rel="stylesheet" href="path/to/bulma.css">
    <script src="path/to/bulma.js"></script>
</head>
<body>
<h1>Hier sind die Beiträge</h1>
<br>
<ul>
    <li th:each="e : ${entries}">
        <div>
            <span>Date: </span><span th:text="${e.date}"></span>
            <span>Name: </span> <span th:text="${e.user.name}"></span>
        </div>
        <div>
            <span>Text: </span> <span th:text="${e.text}"></span>
        </div>
        <div>
        <!-- th:if="${user == sessionUser}"-->
            <form action="#" method="post" th:action="@{/Entry}" th:object="${comment}">
                <p>Text<input type="text" th:field="*{text}"></p>

                <button type="submit">Kommentar abschicken</button>
            </form>
        </div>
        <br>
        <div>
            <ul>

                <li th:each="c : ${comments}" th:if="${e.id==c.getEntry().getId()}">
                    <div>
                        <span>Name: </span><span th:text="${c.user.name}"></span>
                        <br>
                        <span>Date: </span><span th:text="${c.date}"></span>
                        <br>
                        <span>Comment: </span><span th:text="${c.text}"></span>
                    </div>
                        <br>

                </li>
            </ul>
        </div>

    </li>
</ul>
</body>
</html>