<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Neuer Eintrag:</h1>

    <div class="entry-box">
        <h2 th:text="${eintrag.entry}">
            <a th:href="@{/titel/{title}(title=${eintrag.title})}"></a>
        </h2>
        <h5 th:text="'Name: ' + ${eintrag.name}"></h5>
        <h5 th:text="'Titel: ' + ${eintrag.title}"></h5>
        <h5 th:text="'ID: ' + ${eintrag.id}"></h5>
    </div>
    <a th:href="@{/gaestebuch}">zurück zum Gästebuch</a>
</div>
</body>
</html>