<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/newSheet.css}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/registration}">Register Now</a></li>
            <li><a th:href="@{/dummies}">Dummies laden (Hardcoded! nur einmal klicken nach Serverstart</a></li>
        </ul>
    </nav>
</header>


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<main>
    <h1>Hier sind die Beiträge</h1>
    <br>
    <ul>
        <li th:each="e : ${entries}">
            <div class="container1">
            <div>
                <span>Date: </span><span th:text="${e.date}"></span>
                <span>Name: </span> <span th:text="${e.user.name}"></span>
            </div>
            <div>
                <span>Text: </span> <span th:text="${e.text}"></span>
            </div>
            <div>
                <!-- th:if="${user == sessionUser}"-->
                <form action="#" method="post" th:action="@{/}" th:object="${comment}">
                    <input type="hidden" name="entryId" th:value="${e.id}">
                    <p>Text<input type="text" th:field="*{text}"></p>
                    <button type="submit">Kommentar abschicken</button>
                </form>
            </div>
            <br>
            <div>
                <ul>

                    <li th:each="c : ${comments}" th:if="${e.id==c.getEntry().getId()}">
                        <div>
                            <span>Name: </span><span th:text="${c.user.name}"></span>
                            <br>
                            <span>Date: </span><span th:text="${c.date}"></span>
                            <br>
                            <span>Comment: </span><span th:text="${c.text}"></span>
                        </div>
                        <br>

                    </li>
                </ul>
            </div>
            </div>
        </li>
    </ul>
</main>


</body>
</html>
