<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/newSheet.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        });
    </script>
</head>
<body>
<nav class="navbar is-active has-background-orange" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu has-background-orange has-text-centered navbar-position">
        <div class="navbar-start">
            <div class="navbar-item is-justify-content-center">
                <div class="buttons">
                    <figure class="image is-40x40">
                        <a class="navbar-item" href="/">
                            <img class="is-rounded" src="/css/ghostface.jpg" alt="Ghostface icon">
                        </a>
                    </figure>
                    <a class="button is-transparent" th:href="@{/index}">
                        Home
                    </a>
                    <a class="button is-transparent" th:href="@{/dummies}">
                        Load Dummies
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-transparent" th:href="@{/registration}">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-transparent" th:href="@{/login}">
                        <strong>Log in</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div>
</div>
<main class="has-text-centered">

    <div class="container1 margintop">
        <div class="container2 background-image">
            <div>
                <h1 class="is is-size-2 ">Willkommen bei TBTCinema</h1>
                <p>Schreibe einen Beitrag</p>
                <form action="#" method="post" th:action="@{/index}" th:object="${entry}">
                    <input type="hidden" name="entryType" value="entry">
                    <p><label>
                        <input type="text" name="title" th:field="*{title}" th:placeholder="Titel">
                    </label></p>
                    <p>
                        <label>
                            <textarea type="text" name="text" th:field="*{text}" th:placeholder="Beitrag"></textarea>
                        </label>
                    </p>
                    <button type="submit">Neuen Beitrag erstellen</button>
                </form>
            </div>

        </div>
    </div>
    <br>
    <ul>
        <li th:each="e : ${entries}">
            <div class="container1 ">
                <div class="container2">
                    <div class="image-container is-left">
                        <img src="/css/placeholder.png" alt="Your image description">
                    </div>
                    <div class="container3">
                        <div>
                            <span>Date: </span><span th:text="${e.date}"></span>
                            <span>Name: </span> <span th:text="${e.user.name}"></span>
                            <br>
                            <span></span> <span th:text="${e.title}"></span>
                            <div class="buttonline">
                                <form th:action="@{'/deleteEntry/' + ${e.id}}" method="post">
                                    <button class="button is-rounded is-small" type="submit" name="deleteEntry">🗑️
                                    </button>
                                </form>
                                <br>
                                <form th:action="@{'/editEntry/' + ${e.id}}" method="get">
                                    <button class="button is-rounded is-small" type="submit" name="editEntry">🖊️
                                    </button>
                                </form>

                            </div>

                        </div>
                        <div>
                        </div>
                        <div>
                            <span>Text: </span> <span th:text="${e.text}"></span>
                        </div>

                        <br>
                        <div class="container3">
                            <div class="margintop">
                                <!-- th:if="${user == sessionUser}"-->
                                <form action="#" method="post" th:action="@{/index}" th:object="${comment}">
                                    <input type="hidden" name="entryId" th:value="${e.id}">
                                    <p>Text<label>
                                        <input type="text" th:field="*{text}" th:placeholder="Kommentar">
                                    </label></p>
                                    <button class="button is-rounded is-small" type="submit">Kommentar abschicken</button>
                                </form>
                            </div>
                            <ul>

                                <li th:each="c : ${comments}" th:if="${e.id==c.getEntry().getId()}">
                                    <div>
                                        <span>Name: </span><span th:text="${c.user.name}"></span>
                                        <br>
                                        <span>Date: </span><span th:text="${c.date}"></span>
                                        <br>
                                        <span>Comment: </span><span th:text="${c.text}"></span>
                                        <form th:action="@{'/deletecomment/' + ${c.id}}" method="post">
                                            <button class="button is-rounded is-small" type="submit"
                                                    name="deleteComment">Kommentar löschen
                                            </button>
                                        </form>
                                    </div>
                                    <br>

                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </li>
    </ul>
</main>


</body>
</html>
