<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/newSheet.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        });
    </script>
</head>
<body class="has-text-centered">
<nav class="navbar is-active has-background-orange" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu has-background-orange has-text-centered navbar-position">
        <div class="navbar-start">
            <div class="navbar-item is-justify-content-center">
                <div class="buttons">
                    <figure class="image is-40x40">
                        <a class="navbar-item" href="/">
                            <img class="is-rounded" src="/css/ghostface.jpg" alt="Ghostface icon">
                        </a>
                    </figure>
                    <a class="button is-transparent" th:href="@{/index}">
                        Home
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-transparent" th:href="@{/login}">
                        <strong>Log in</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div>
    <h1>Sign up</h1>
    <div class="container1">
    <div class="container2">
        <h2>Registration Form</h2>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}"/>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}"/>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}"/>

            <button type="submit">Register</button>
        </form>
        <p th:text="${message}" style="color:green"></p>
        <p th:text="${error}" style="color:red"></p>
    </div>
    </div>

</div>

</body>
</html>

