<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="path/to/bulma.css"><script src="path/to/bulma.js"></script>
</head>
<body>
<h1>Sign up</h1>
<h2>Registration Form</h2>
<form action="#" th:action="@{/WebBlog/v1/auth/registration}" th:object="${user}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" th:field="*{name}" />

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" th:field="*{username}" />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" th:field="*{email}" />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" th:field="*{password}" />

  <button type="submit">Register</button>
</form>

<p th:text="${message}" style="color:green"></p>
<p th:text="${error}" style="color:red"></p>
</body>
</html>

