<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titel</title>

</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <form th:action="@{/users/{id}/upgrade(id=${user.id})}" method="post">
                <input type="submit" value="Upgrade">
            </form>
            <form th:action="@{/users/{id}/downgrade(id=${user.id})}" method="post">
                <input type="submit" value="Downgrade">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>